PORT = 8000
CORS_ORIGIN=*
MONGODB_URI=mongodb+srv://divyanshshukla43242:your-password@cluster0.levqd.mongodb.net
ACCESS_TOKEN_SECRET=mai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chaiaurcode123
REFRESH_TOKEN_EXPIRY=10d

CLOUDINARY_CLOUD_NAME=dlhq4wosk
CLOUDINARY_API_KEY=563834598378834
CLOUDINARY_API_SECRET=divyanshhbtu2026